
 header, main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  justify-content: center;   
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: rgba(216, 197, 216, 0.94) 1px solid;

}

.statTime {
  display: flex;
  justify-content: flex-end;
}


#startbutton, button {
  background-color: rgba(216, 197, 216, 0.94);
}

ul {            /*I want to put space between buttons */
  display: flex;
  justify-content: space-between;
}

