
header, main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  border: 2px black solid;

}



.statTime {
  float: right;
  padding-right: 75px;
 
}

#startbutton {
  background-color: rgba(133, 83, 133, 0.94);
}

