
 header, main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  border: 2px black solid;
  justify-content: center;   
  align-items: center;

}


.statTime {
  display: flex;
  justify-content: flex-end;
}


#startbutton, button {
  background-color: rgba(216, 197, 216, 0.94);
}

ul {            /*I want to put space between buttons */
  display: flex;
  justify-content: space-between;
}

